.git
.env
.nx/cache
packages/twenty-server/.env
*.log
.DS_Store
coverage
.vscode
.idea
packages/twenty-front
packages/twenty-website
packages/twenty-e2e-testing
packages/twenty-zapier
packages/twenty-docs
packages/twenty-cli
packages/create-twenty-app
README.md
CONTRIBUTING.md
*.md
